.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: url("../../images/gray_2000.jpg") no-repeat center fixed;
  background-size: cover;

  .main {
    flex: 1;

    .table {
      display: flex;
      justify-content: center;

      table {
        width: 100%;
        border-collapse: separate;
        font-size: 0.97vw;
        border-spacing: 0;
        border: 0.14vw solid #000;
        margin: 0.35vw 2.78vw 1.39vw;
        background-color: #fff;
        border-radius: 0.55vw;
        overflow: hidden;

        thead tr {
          background-color: #cfd487;
          font-weight: bold;
          cursor: default;
        }

        th,
        td {
          width: 25%;
          text-align: left;
          padding: 0.49vw 0.69vw;
          border: 0.07vw solid #727272;
        }

        tbody tr:hover {
          background-color: #ffce8d;
          cursor: pointer;
        }
        .no_found {
          text-align: center;
          font-size: 1.39vw;
          font-weight: 500;
          color: #cd1e1e;
        }
        .no_found:hover {
          background-color: transparent;
        }
      }
    }
  }
}
@media (max-width: 481px) {
  .container {
    .main {
      .table {
        table {
          font-size: 2.1vw;
          border-spacing: 0;
          border: 0.3vw solid #000;
          margin: 0.7vw 2vw 1.4vw;
          border-radius: 1vw;
          overflow: hidden;
          th,
          td {
            padding: 0.49vw 0.69vw;
            border: 0.07vw solid #727272;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .no_found {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
