.header {
  display: flex;
  align-items: center;
  padding: 0;
  border-bottom: 0.25vw solid #c25100;
  width: 100vw;
  background: url("../../images/wood-1759566_1920.jpg") no-repeat center fixed;
  background-size: cover;
  box-sizing: border-box;

  img {
    width: 5vw;
    max-width: 150px;
    height: auto;
    margin: 0 2.22vw 0 6.67vw;
  }

  h1 {
    font-size: 2.22vw;
    color: #faa700;
    font-weight: 500;
    letter-spacing: 0.2vw;
    cursor: default;
  }
}
